-
  const roomCard = [
    {
      header: "Printed & digital materials",
      text: "QR&nbsp;codes can be&nbsp;placed on&nbsp;printed and electronic media anywhere in&nbsp;the hotel. For example, display them at&nbsp;the front desk, in&nbsp;the elevator, or&nbsp;on&nbsp;key card holders.",
      path: "room-services-3",
      format: "jpg",
      width: "675",
      height: "540",
      alt: "Printed & digital materials",
    },
    {
      header: "Welcome Letters",
      text: "Use welcome letters with personalised invite link to&nbsp;greet your guests in&nbsp;a&nbsp;unique way and allow them to&nbsp;start using the Web App immediately, without filling in&nbsp;any data: just follow the link &&nbsp;go.",
      path: "room-services-4",
      format: "jpg",
      width: "675",
      height: "540",
      alt: "Welcome Letters",
    },
    {
      header: "<nobr>In-Room</nobr> TV",
      text: "Use the personal QR&nbsp;code that will appear on&nbsp;the TV&nbsp;screen to&nbsp;ease the guests into using the app by&nbsp;simply scanning the QR&nbsp;code. This way, they don&rsquo;t have to&nbsp;log in&nbsp;additionally&nbsp;&mdash; all the information is&nbsp;already in&nbsp;the system.",
      path: "room-services-1",
      format: "jpg",
      width: "675",
      height: "540",
      alt: "In-Room TV",
    },
    {
      header: "After connecting to&nbsp;the Internet",
      text: "After successfully connecting to&nbsp;the hotel&rsquo;s <nobr>Wi-Fi</nobr> through HSIA, the guest will see an&nbsp;invitation to&nbsp;visit the Web App.",
      path: "room-services-2",
      format: "jpg",
      width: "675",
      height: "540",
      alt: "After connecting to the Internet",
    },    
  ]
