-
  const servicesCard = [
    {
      header: "In-Room Dining",
      text: "Browse the menu, take a&nbsp;pick, pay online",
      path: "services-phone-item-1",
      format: "png",
      width: "301",
      height: "600",
      alt: "In-Room Dining",
    },
    {
      header: "Hotel Services and Bookings",
      text: "Schedule a&nbsp;room cleaning or&nbsp;order additional pillows easily. Book a&nbsp;table in&nbsp;a&nbsp;hotel restaurant or&nbsp;explore the availability of&nbsp;the SPA centre.",
      path: "services-phone-item-2",
      format: "png",
      width: "301",
      height: "600",
      alt: "Hotel Services and Bookings",
    },
    {
      header: "Guest profile, bill overview and express <nobr>check-out</nobr>",
      text: "Easily display check-out information including the bill to&nbsp;your guests, and allow them to&nbsp;avoid long lines at&nbsp;the reception by&nbsp;offering them the fast check-out option.",
      path: "services-phone-item-3",
      format: "png",
      width: "301",
      height: "600",
      alt: "Guest profile, bill overview and express check-out",
    },
    {
      header: "Chat with the hotel staff",
      text: "Easy communication with the hotel staff through <nobr>built-in</nobr> messenger&nbsp;&mdash; all the questions answered in&nbsp;the shortest time.",
      path: "services-phone-item-4",
      format: "png",
      width: "301",
      height: "600",
      alt: "Chat with the hotel staff",
    },
    {
      header: "TV&nbsp;remote that will never get lost",
      text: "Control the <nobr>in-room</nobr> TV&nbsp;easily from own smartphone",
      path: "services-phone-item-5",
      format: "png",
      width: "301",
      height: "600",
      alt: "TV remote that will never get lost",
    },
    {
      header: "Smart Room Control",
      text: "Adjust the temperature and light level in&nbsp;the room through Web App",
      path: "services-phone-item-6",
      format: "png",
      width: "301",
      height: "600",
      alt: "Smart Room Control",
    },
  ]
